* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.header-main {
    background-color:  #1CD1B0;
    padding: 0.7%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

h1 {
    background-color: #00669F;
    font-size: 40px;
    padding: 1%;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    justify-content: space-around;
    margin-top: 7%;
    width: 80%;
    height: 80%;
    margin-bottom: 7%;
}

.uno {
    display: flex;
    flex-direction: column;
    height: 529px;
    width: 300px;
    background-color: #F3F3F3;
    box-shadow: 4px 4px 2px #888888;
    border-radius: 15px 15px 0px 0px;
}

.dos {
    display: flex;
    flex-direction: column;
    height: 529px;
    width: 300px;
    background-color: #F3F3F3;
    box-shadow: 4px 4px 2px #888888;
    border-radius: 15px 15px 0px 0px;
}

.tres {
    display: flex;
    flex-direction: column;
    height: 529px;
    width: 300px;
    background-color: #F3F3F3;
    box-shadow: 4px 4px 2px #888888;
    border-radius: 15px 15px 0px 0px;
}

.corazones {
    display: flex;
    position: absolute;
    padding: 1%;

}

.fondos {
    display: flex;
    align-self: flex-start;
}

.perfil {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 20%;
    box-shadow: 3px 3px 2px #888888;
}

h2 {
    text-align: center;
    position: relative;
    bottom: 8%;
    font-family: 'Roboto', sans-serif;

}

p {
    text-align: justify;
    size: 16px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    bottom: 4%;
    padding: 1rem;
}

button {
    display: flex;
    align-self: center;
    background-color: #00669F;
    color: #F3F3F3;
    padding: 12px 25px;
    border: 0ch;
    position: relative;
    bottom: 3%;    
}

footer {
    background-color: #00669F;
    color: #FFF9F9;
}